<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.BDSistemaCIVConnectionString"
            connectionString="Data Source=JESUSDAVID-PC\SQLEXPRESS;Initial Catalog=BDSistemaCIV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>